/* first year */
.circle-wrap.h .circle .mask.full,
.circle-wrap.h .circle .fill  {
    animation: fill ease-in-out 2s;
    transform: rotate(103.32deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.h .circle .fill{
    background-color: rgb(212, 102, 148);
}

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(103.32deg);
        
    }
}

/* sophmore */
.circle-wrap.sophmore .circle .mask.full,
.circle-wrap.sophmore .circle .fill  {
    animation: fillSo ease-in-out 2s;
   
    transform: rotate(133.18deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.sophmore .circle .fill  {
    background-color: rgb(134, 0, 69);
}

@keyframes fillSo {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(133.18deg);
    }
}

/* junior */
.circle-wrap.junior .circle .mask.full,
.circle-wrap.junior .circle .fill  {
    animation: fillJ ease-in-out 2s;
    transform: rotate(142.18deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.junior .circle .fill  {
    background-color: rgb(62, 1, 42);

}

@keyframes fillJ {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(142.18deg);
    }
}

/* senior */
.circle-wrap.senior .circle .mask.full,
.circle-wrap.senior .circle .fill  {
    animation: fillSCC ease-in-out 2s;
    transform: rotate(158.49deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.senior .circle .fill  {
    background-color: #ff6060;

}

@keyframes fillSCC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(158.49deg);
    }
}

/* grad */
.circle-wrap.grad .circle .mask.full,
.circle-wrap.grad .circle .fill  {
    animation: fillGCC ease-in-out 2s;
    
    transform: rotate(142.93deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.grad .circle .fill  {
    background-color: #ffaeae;

}

@keyframes fillGCC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(142.93deg);
    }
}

/* med */
.circle-wrap.med .circle .mask.full,
.circle-wrap.med .circle .fill  {
    animation: fillMCC ease-in-out 2s;
    transform: rotate(161.60deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.med .circle .fill  {
    background-color: #a04;

}

@keyframes fillMCC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(161.60deg);
    }
}

.circle-wrap.big.porn .circle .mask.full,
.circle-wrap.big.porn .circle .fill  {
    animation: fillBigPorn ease-in-out 2s;
    
    transform: rotate(114.786deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.big.porn .circle .fill  {
    background-color: rgb(62, 1, 42);

}


@keyframes fillBigPorn {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(114.786deg);
    }
}

.circle-wrap.big.appUse .circle .mask.full,
.circle-wrap.big.appUse .circle .fill  {
    animation: fillBigApp ease-in-out 2s;
    transform: rotate(122.27deg);
    /* background-color: rgb(0, 255, 255); */

}

@keyframes fillBigApp {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(122.27deg);
    }
}

.circle-wrap.tinder .circle .mask.full,
.circle-wrap.tinder .circle .fill  {
    animation: fillTinder ease-in-out 2s;
    transform: rotate(97.56deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.tinder .circle .fill  {
    background-color: #ff6060;



}

.circle-wrap.hinge .circle .mask.full,
.circle-wrap.hinge .circle .fill  {
    animation: fillTinder ease-in-out 2s;
    transform: rotate(58.30deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.hinge .circle .fill  {
    background-color: rgb(134, 0, 69);

}

.circle-wrap.grindr .circle .mask.full,
.circle-wrap.grindr .circle .fill  {
    animation: fillTinder ease-in-out 2s;
    transform: rotate(9.73deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.grindr .circle .fill  {
    background-color: rgb(62, 1, 42);

}

.circle-wrap.bumble .circle .mask.full,
.circle-wrap.bumble .circle .fill  {
    animation: fillTinder ease-in-out 2s;
    transform: rotate(54.37deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.bumble .circle .fill  {
    background-color: rgb(212, 102, 148);

    
}

.circle-wrap.snapchat .circle .mask.full,
.circle-wrap.snapchat .circle .fill  {
    animation: fillTinder ease-in-out 2s;
    transform: rotate(30.38deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.snapchat .circle .fill  {
    background-color: #a04;

}

.circle-wrap.DataMatc .circle .mask.full,
.circle-wrap.DataMatc .circle .fill  {
    animation: fillTinder ease-in-out 2s;
    transform: rotate(23.4deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.DataMatc .circle .fill  {
    background-color: #ffaeae;

}

@keyframes fillTinder {
    0% {
        transform: rotate(0deg);
    }

    100% {
       
    }
}

.circle-wrap.big.masturbat .circle .mask.full,
.circle-wrap.big.masturbat .circle .fill  {
    animation: fillTinder ease-in-out 2s;
    transform: rotate(157.75deg);
    /* background-color: rgb(0, 255, 255); */

}

/* grooming circles */
.circle-wrap.nogrooming .circle .mask.full,
.circle-wrap.nogrooming .circle .fill  {
    animation: fillTinder ease-in-out 2s;
    transform: rotate(10.83deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.nogrooming .circle .fill  {
    background-color: #e83434;
}

.circle-wrap.arms .circle .mask.full,
.circle-wrap.arms .circle .fill  {
    animation: fillTinder ease-in-out 2s;
    transform: rotate(18.54deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.arms .circle .fill  {
    background-color: #ffaeae;
}

.circle-wrap.armpits .circle .mask.full,
.circle-wrap.armpits .circle .fill  {
    animation: fillTinder ease-in-out 2s;
    transform: rotate(119.64deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.armpits .circle .fill  {
    background-color: rgb(201, 13, 13);
}

.circle-wrap.legs .circle .mask.full,
.circle-wrap.legs .circle .fill  {
    animation: fillTinder ease-in-out 2s;
    transform: rotate(95deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.legs .circle .fill  {
    background-color: rgb(78, 2, 51);
}

.circle-wrap.chest .circle .mask.full,
.circle-wrap.chest .circle .fill  {
    animation: fillTinder ease-in-out 2s;
    transform: rotate(26.11deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.chest .circle .fill  {
    background-color: rgb(212, 102, 148);
}
.circle-wrap.back .circle .mask.full,
.circle-wrap.back .circle .fill  {
    animation: fillTinder ease-in-out 2s;
    transform: rotate(9.73deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.back .circle .fill  {
    background-color: rgb(62, 1, 42);
}
.circle-wrap.face .circle .mask.full,
.circle-wrap.face .circle .fill  {
    animation: fillTinder ease-in-out 2s;
    transform: rotate(78.35deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.face .circle .fill  {
    background-color: #6e0606;
}
.circle-wrap.pubic .circle .mask.full,
.circle-wrap.pubic .circle .fill  {
    animation: fillTinder ease-in-out 2s;
    transform: rotate(147.51deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.pubic .circle .fill  {
    background-color: #a04;
}






/* circumcised circles */
.circle-wrap.yes .circle .mask.full,
.circle-wrap.yes .circle .fill  {
    animation: fillTinder ease-in-out 2s;
    transform: rotate(43.63deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.yes .circle .fill  {
    background-color: #6e0606;
}

.circle-wrap.no .circle .mask.full,
.circle-wrap.no .circle .fill  {
    animation: fillTinder ease-in-out 2s;
    transform: rotate(5.184deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.no .circle .fill  {
    background-color: #e83434;
}

.circle-wrap.dont_care .circle .mask.full,
.circle-wrap.dont_care .circle .fill  {
    animation: fillTinder ease-in-out 2s;
    transform: rotate(71.19deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.dont_care .circle .fill  {
    background-color: rgb(201, 13, 13);
}

.circle-wrap.not_applicible .circle .mask.full,
.circle-wrap.not_applicible .circle .fill  {
    animation: fillTinder ease-in-out 2s;
    transform: rotate(59.99deg);
    /* background-color: rgb(0, 255, 255); */

}

.circle-wrap.not_applicible .circle .fill  {
    background-color: rgb(78, 2, 51);
}