div .bar {
height: 100%;
width: 0;
background-color:rgb(223, 65, 91);
/* transition: all 1s; */
animation: fill ease-in-out  1.5s;

}

div .dbar {
    height: 90%;
    width: 100%;
    
    background-color:rgba(255, 217, 223, 0.692);
    /* transition: all 1s; */
    
    
}

div .bar.artsci{
    width: 74.30%;
   
    background-color: #ff6060;
    animation: fillA ease-in-out  1.5s;
}

@keyframes fillA {
    0% {
        width: 0;
    }

    100% {
        width: 74.30%;
    }
}

div .bar.olin{
    width: 78.51%;
    background-color: rgb(134, 0, 69);
    animation: fillO ease-in-out  1.5s;
}

@keyframes fillO {
    0% {
        width: 0;
    }

    100% {
        width: 78.51%;
    }
}

div .bar.samfox{
    width: 71.25%;
    background-color: rgb(62, 1, 42);
    animation: fillS ease-in-out  1.5s;
}

@keyframes fillS {
    0% {
        width: 0;
    }

    100% {
        width: 71.25%;
    }
}

div .bar.mckelvey{
    width: 70.15%;
    background-color: rgb(212, 102, 148);
    animation: fillM ease-in-out  1.5s;
}

@keyframes fillM {
    0% {
        width: 0;
    }

    100% {
        width: 70.15%;
    }
}

div .bar.medschool{
    width: 87.5%;
    background-color: #a04;
    animation: fillMS ease-in-out 1.5s;
}

@keyframes fillMS {
    0% {
        width: 0;
    }

    100% {
        width: 87.5%;
    }
}

toys-component .bar{
    height: 80px;
}

toys-component .dbar{
    height: 80px;
    margin-bottom: 10px;
}

toys-component div .bar.no_toys{
    width: 49.26%;
    background-color: #a04;
    animation: toyfill1 ease-in-out 1.5s;
}

@keyframes toyfill1 {
    0% {
        width: 0;
    }

    100% {
        width: 49.26%;
    }
}

toys-component div .bar.vibrator{
    width: 42.26%;
    background-color: rgb(212, 102, 148);
    animation: toyfill2 ease-in-out 1.5s;
}

@keyframes toyfill2 {
    0% {
        width: 0;
    }

    100% {
        width: 42.26%;
    }
}

toys-component div .bar.handcuffs{
    width: 14.32%;
    background-color: rgb(62, 1, 42);
    animation: toyfill3 ease-in-out 1.5s;
}

@keyframes toyfill3 {
    0% {
        width: 0;
    }

    100% {
        width: 14.32%;
    }
}

toys-component div .bar.dildo{
    width: 16.86%;
    background-color: rgb(134, 0, 69);
    animation: toyfill4 ease-in-out 1.5s;
}

@keyframes toyfill4 {
    0% {
        width: 0;
    }

    100% {
        width: 16.86%;
    }
}

toys-component div .bar.butt_plug{
    width: 8.62%;
    background-color: #ff6060;
    animation: toyfill5 ease-in-out 1.5s;
}

@keyframes toyfill5 {
    0% {
        width: 0;
    }

    100% {
        width: 8.62%;
    }
}

reality-component div .bar.actually_sex{
    width: 75.66%;
    background-color: #ff6060;
    animation: actuallyfill5 ease-in-out 1.5s;
}

@keyframes actuallyfill5 {
    0% {
        width: 0;
    }

    100% {
        width: 75.66%;
    }
}

reality-component div .bar.guess_sex{
    width: 65%;
    background-color: rgb(134, 0, 69);
    animation: guessfill5 ease-in-out 1.5s;
}

@keyframes guessfill5 {
    0% {
        width: 0;
    }

    100% {
        width: 65%;
    }
}

noporn-component div .bar.nopleasure{
    width: 41.58%;
    background-color: rgb(134, 0, 69);
    animation: nopornfill ease-in-out 1.5s;
}

@keyframes nopornfill {
    0% {
        width: 0;
    }

    100% {
        
    }
}

nomasturbate div .bar.caugt{
    width: 6.78%;
    background-color: #ff6060;

    animation: nopornfill ease-in-out 1.5s;
}


noporn-component div .bar.prefernot{
    width: 71.25%;
    background-color: rgb(62, 1, 42);
    animation: nopornfill ease-in-out 1.5s;
}

noporn-component div .bar.moral{
    width: 39.61%;
    background-color: rgb(212, 102, 148);
    animation: nopornfill ease-in-out 1.5s;
}

noporn-component div .bar.religion{
    width: 10.94%;
    background-color: #a04;
    animation: nopornfill ease-in-out 1.5s;
}

noporn-component div .bar.wifi{
    width: 2.63%;
    background-color: black;
    animation: nopornfill ease-in-out 1.5s;
}

nomasturbation-component div .bar.moral2{
    width: 13.49%;
    background-color: #ff6060;

    animation: nopornfill ease-in-out 1.5s;
}

nomasturbation-component div .bar.roommate{
    width: 18.25%;
    background-color: rgb(62, 1, 42);
    animation: nopornfill ease-in-out 1.5s;
}

nomasturbation-component div .bar.moral{
    width: 31.61%;
    background-color: rgb(212, 102, 148);
    animation: nopornfill ease-in-out 1.5s;
}

nomasturbation-component div .bar.religion2{
    width: 11.90%;
    background-color: #a04;
    animation: nopornfill ease-in-out 1.5s;
}

nomasturbation-component div .bar.how{
    width: 15.61%;
    background-color: rgb(212, 102, 148);
    animation: nopornfill ease-in-out 1.5s;
}

nomasturbation-component div .bar.perfernot2{
    width: 33.07%;
    background-color: rgb(134, 0, 69);

    animation: nopornfill ease-in-out 1.5s;
}

nomasturbation-component div .bar.nopleasure2{
    width: 19.05%;
    background-color: #ff6060;

    animation: nopornfill ease-in-out 1.5s;
}